{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <p>Welcome {{ user.display_name }}</p>


        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
        <button type="submit">Search for User</button>
        </form>

        <p>
        {% for i in pending_friend_requests %}
            <a href="/profile/{{ i }}">{{ i }}</a>
        {% endfor %}
        </p>

        {% else %}

        <p>You are not logged in</p>
        <a href="{% url 'login' %}">Log In</a>

    {% endif %}

{% endblock content %}