<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SocialMediaSite</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'accounts/main.css' %}">
  </head>
  <body>
    


    <div class="container-fluid">
      <div class="hero" style="background-color: #141824;">
        <div class="row" style="margin-top: 2%;">
          <h1 style="margin-bottom: 2%;">SocialMediaSite by T3chstop</h1>
          <div class="col-2">
            
          </div>
          <div class="col-4">
              <h3>This will cotnain a laptop</h3>
              <i class="fa-regular fa-laptop"></i>
          </div>
          <div class="col-4 solid-box">
              <h3>Login to access all the features of SocialMediaSite</h3>
              <form method="post" style="padding-bottom: 2%;">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Log In</button>
              </form>
              <h4>Don't have an account? <a href="/register/">Register today!</a></h4>
          </div>
          <div class="col-2">
  
          </div>
        </div>
      </div>
    </div>

    <canvas class="background"></canvas>
      

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="{% static 'accounts/particles.min.js' %}"></script>
    <script>
      window.onload = function() {
        Particles.init({
          selector: '.background',
          connectParticles: true,
          color: '#0049FF',
        });
      };
    </script>
  </body>
</html>