{% extends 'base.html' %} 

{% block title %} Profile | SocialMediaSite {% endblock title %}

{% block content %}
<div class="container-fluid">
  <h1>{{viewingName}}</h1>

  <img src="{{displayed_user.profile_picture.url}}" width="240">

  <p>{{displayed_user.bio}}</p>

  {% if areFriends %}

  <p>You're viewing your friend</p>
  
  <form action="#" method="post">
    {% csrf_token %}
    <input type="submit" value="Remove Friendship" name ="remove_friends_form">
    <input type="submit" value="Block" name ="block_form">
  </form>
  

  {% elif activeRequestFrom %}

  <p>Friend Request Delivered. Awaiting response</p>

  {% elif activeRequestTo %}

  <p>Incoming friend request</p>
  

  <form action="#" method="post">
    {% csrf_token %}
    <input type="submit" value="Accept Friend Request" name ="accept_friend_form">
    <input type="submit" value="Reject Friend Request" name ="reject_friend_form">
    <input type="submit" value="Block" name ="block_form">
  </form>

  {% elif viewingSelf %}

  <p>Viewing yourself</p>
  
  <a href="/edit-profile">Edit your profile</a>

  {% else %}

  <p>Send a friend request</p>
  

  <form action="#" method="post">
    {% csrf_token %}
    <input type="submit" value="Send Friend Request" name ="send_request_form">
    <input type="text" placeholder="Hi, I'd like to add you as a friend" name ="send_request_form_text">
    <input type="submit" value="Block" name ="block_form">
  </form>

  {% endif %}


  <a href="/logout"><p>Logout</p></a>
</div>
{% endblock content %}