/*
Colors:
Dark Blue: #12232E

Lighter Blue: #007CC7

Lightest Blue: #4DA8DA

Shadow of Dark Blue: #203647

Shadow of Light Blue: #EEFBFB
*/
body {
    background-color: #12232E;
}
h2 {
    color: white;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}
p {
    color: #FEFFFF;
    font-family: 'Montserrat', sans-serif;
}
li {
    color: white;
}